@import 'apps/evid/src/@evid/styles/evid';

auth-sign-up {

    .content-layout {
        align-items: center;
        justify-content: center;

        evid-card {

            .form-container {

                .form {

                    .field-footer {

                        .link {
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include evid-theme {

}
