<form [formGroup]="employeeForm"
      [ngClass]="{'edit-mode': editMode}">

    <!-- Actions -->
    <div class="actions">

        <!-- Edit button -->
        <button mat-icon-button
                *ngIf="!editMode"
                [matMenuTriggerFor]="actionsMenu">
            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
        </button>
        <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item
                    *ngIf="!editMode"
                    (click)="toggleEditMode(true)">
                <mat-icon [svgIcon]="'edit'"></mat-icon>
                <span>Edit employee</span>
            </button>
        </mat-menu>

        <!-- Cancel button -->
        <button class="cancel-button"
                mat-icon-button
                *ngIf="editMode"
                [matTooltip]="'Cancel'"
                (click)="toggleEditMode(false)">
            <mat-icon [svgIcon]="'cancel'"></mat-icon>
        </button>

        <!-- Save button -->
        <button mat-icon-button
                *ngIf="editMode"
                [disabled]="employeeForm.invalid"
                [matTooltip]="'Save'"
                (click)="updateEmployee()">
            <mat-icon [svgIcon]="'save'"></mat-icon>
        </button>

        <!-- Delete button -->
        <button mat-icon-button
                *ngIf="editMode"
                [matTooltip]="'Delete'"
                (click)="deleteEmployee()">
            <mat-icon [svgIcon]="'delete'"></mat-icon>
        </button>

        <!-- Close button -->
        <button mat-icon-button
                *ngIf="!editMode"
                [matTooltip]="'Close'"
                [routerLink]="['../']">
            <mat-icon [svgIcon]="'close'"></mat-icon>
        </button>

    </div>

    <!-- Avatar and Name -->
    <div class="avatar-and-name">

        <div class="avatar">

            <div class="upload"
                 *ngIf="editMode">
                <input id="avatar-file-input"
                       type="file"
                       [multiple]="false"
                       [accept]="'image/jpeg, image/png'"
                       (change)="uploadAvatar(avatarFileInput.files)"
                       #avatarFileInput>
                <label for="avatar-file-input"
                       matRipple>
                    <mat-icon [svgIcon]="'photo_camera'"></mat-icon>
                </label>
            </div>

            <div class="remove"
                 *ngIf="editMode">
                <button mat-icon-button
                        (click)="removeAvatar()">
                    <mat-icon [svgIcon]="'delete'"></mat-icon>
                </button>
            </div>

            <img *ngIf="employee.avatar"
                 [src]="employee.avatar"
                 #avatar>

            <div class="no-avatar"
                 *ngIf="!employee.avatar">
                {{employee.firstName.charAt(0)}}
            </div>

        </div>

        <div class="view"
             *ngIf="employee.firstName && !editMode">
            <div class="name">{{employee.firstName}}</div>
        </div>

        <div class="edit"
             *ngIf="editMode">

            <mat-form-field class="name edit evid-mat-no-subscript">
                <input matInput
                       [formControlName]="'firstName'"
                       [placeholder]="'First Name'"
                       [spellcheck]="false">
            </mat-form-field>

          <mat-form-field class="name edit evid-mat-no-subscript">
            <input matInput
                   [formControlName]="'lastName'"
                   [placeholder]="'Last Name'"
                   [spellcheck]="false">
          </mat-form-field>

        </div>

    </div>

    <div class="emails"
         *ngIf="employee.employments.length || editMode">

        <mat-icon class="icon"
                  [svgIcon]="'email'"></mat-icon>

        <div class="view"
             *ngIf="!editMode">

            <div class="email"
                 *ngFor="let employment of employee.employments; let i = index; trackBy: trackByFn">
                <div class="address">
                  <span>{{ employment.workload }}</span>
                </div>
                <div class="label">
                    <span class="separator">&bull;</span>
                    <span>{{ employment.company.name }}</span>
                </div>
            </div>

        </div>

        <div class="edit"
             *ngIf="editMode">

            <div class="email"
                 *ngFor="let employment of employeeForm.get('employments')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">

                <mat-form-field class="evid-mat-no-subscript">
                    <input matInput
                           [formControl]="employment.get('workload')"
                           [placeholder]="'Workload'"
                           [spellcheck]="false">
                </mat-form-field>

                <mat-form-field class="evid-mat-no-subscript">
                    <input matInput
                           [formControl]="employment.get('companyName')"
                           [placeholder]="'companyName'">
                </mat-form-field>

                <div class="actions">

                    <button class="remove-email-field"
                            *ngIf="!(first && last)"
                            mat-icon-button
                            (click)="removeEmploymentGroup(i)"
                            matTooltip="Remove">
                        <mat-icon [svgIcon]="'cancel'"></mat-icon>
                    </button>

                    <button class="add-email-field"
                            *ngIf="last"
                            mat-icon-button
                            (click)="addEmploymentGroup()"
                            matTooltip="Add">
                        <mat-icon [svgIcon]="'add_circle'"></mat-icon>
                    </button>

                </div>

            </div>

        </div>

    </div>

</form>
