@import 'apps/evid/src/@evid/styles/evid';

auth-confirmation-required {

    .content-layout {
        align-items: center;
        justify-content: center;

        evid-card {

            .form-container {

                .form {

                    .description {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include evid-theme {

}
